:root{
  --baseColor:#0C41A6;
  --maincolor:#11154B;
  --secondarycolor:#ffa500;
  --btncolor:#03BFCB;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  
}

a{
  text-decoration: none;
  color:var(--baseColor);
}


